body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #FFFBF0;
}

h1, h3{
    font-family: 'Bebas Neue', cursive;

}

h1{
    font-size: 3.3rem;
}

p{
    color: dimgray;
}

h5{
    color:navy;
}
.responsive-image {
    max-width: 70%;
    height: auto;
    cursor: pointer;
}

.yellow-text{
    color: #FABE4C;
}

.navy-text{
    color:rgb(72 80 160);
}

.watch-background {
    background-color: rgb(211 211 211 / 26%);
    border-radius: 1.4rem;
    margin: auto;
    margin-top: 1.5rem;
}

.custom-card{
    border: none;
    border-radius: 1.5rem;
}

.custom-card-footer{
    border: none;
    background: none;
}

.shoping-cart {
    width: 15%;
    margin-right: 10px;
}

.buy-button {
    background: linear-gradient(45deg, #56ab2fcf, #a8e0639e);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 13px 0px;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    width: 9rem;
}

.buy-button:hover{
background: linear-gradient(45deg, #a8e0639e, #56ab2fcf);
}

#other-font{
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    color: #EA5E5D;
}

.email-submit-area{
    background-color:#f7efda;
    height: 300px;
}

.email-submit-area input {
    border: none;
    outline: none;
    padding: 2%;
    border-radius: .3rem;
    font-size: 13px;
}

.footer-bg {
    height: 27px;
    background-color: rgb(67 67 67);
}

.footer-bg small {
    color: white;
    font-size: 12px;
}


















